
{% extends 'app/Links.html' %}

{% block content %}

<div class="container ">

<div class="row">
	<div class="col-md-9">
		<h5>Marks:</h5>
		
		<div class="card card-body">
            
			<table class="table table-sm">
				<tr>
					<th>Student Id</th>
					<th>Student Name</th>
					<th>Physics Marks</th>      
                    <th>Chemistry Marks</th>      
                    <th>Maths Marks</th>      
                    <th>English Marks</th>      
                    <th>Computer Marks</th>  
				</tr>
                {% for m in marks %}
		        <tr>
                    <td>{{m.StudentId}} </td>
					<td>{{m.StudentName}} </td>
					<td>{{m.PhysicsMarks}} </td>
					<td>{{m.ChemistryMarks}} </td>
					<td>{{m.MathsMarks}} </td>
					<td>{{m.EnglishMarks}} </td>
					<td>{{m.ComputerMarks}} </td>
				</tr>
				{% endfor %}
			</table>
            <p> <b>Note:</b> Marks are out of 100</p>
		</div>
	</div>
</div>



{% endblock %}
 
